.white{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.flex-col{
    flex-direction: column;
}
.z-10{
    z-index: 10;
}
.z-20{
    z-index: 20;
}
.inset-0{
    inset: 0px;
}
.absolute{
    position: absolute;
}
.flex-1{
    flex: 1 1 0%;
}
.w-full{
    width: 100%;
}
.height{
    height: 1000px;
}
.items-center{
    align-items: center;
}
.h-full{
    height: 100%;
}
.px-4{
    padding-left: 1rem;
    padding-right: 1rem;
}
.-mb-2{
    margin-bottom: -0.5rem;
}
.tracking-wide{
    letter-spacing: .025em;
}
.text-sm{
    font-size: .875rem;
    line-height: 1.25rem    ;
}
.mr-1{
    margin-right: 0.25rem;
}
.ml-1{
    margin-left: 0.25rem;
}
.mb-1{
    margin-bottom: 0.25rem;
}
.-ml-1\.5{
    margin-left: -0.375rem;
}
.px-0\.5{
    padding-left: 0.125rem;
    padding-right: 0.125rem;
}
.pointer-events-auto{
    pointer-events: auto;
}
.max-w-\[64px\]{
    max-width: 64px;
}
.right-2{
    right: 0.5rem;
}
.text-center{
    text-align: center;
}
.border-box{
    box-sizing: border-box;
}
.white1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}